@import '../../../variables';
:host{
  text-align: center;
}
.main__head{
    text-align: center;
    padding-bottom: 30px;
}
.main__stock{
    grid-gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding:40px 40px;
}

.stock-add {
  padding: 15px;
    cursor: pointer;
    align-self: center;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid $second-color;
    border-radius: 25%;
    transition: 0.3s;
   
    &:hover{
      transform: translateY(-10px);
      box-shadow: 0 15px 20px rgba(0, 0, 0, 0.62);

    }
    &:hover .stock-add__pluse{
        background: #18009f;
    }
}

.stock-add__pluse{
    transition: 0.3s;
    position: relative;
    --heightLine: 8px;
    --scale: 3;
    border-radius:  50%;
    background-color: $second-color;
    width: 76px;
    height: 76px;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    user-select: none;
    transition-property: background-color;
}
  .stock-add__pluse::before, .stock-add__pluse::after {
    position: absolute;
    content: '';
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $text-color;
    width: calc( var(--scale) * 60% );
    height: var(--heightLine);

  }
  
  .stock-add__pluse::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  

  .main__choose-items{
    gap: 10px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .main__show-button{
    text-align: center;
    font-size: $small-font;
  }

  .main__recipes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding-bottom: 20px;
  }
  .stock__items-container{
    gap: 5px;
    display: flex;
    flex-direction: column;
  }
  .item__icons{
    display: flex;
    ;align-items: center;
    justify-content: center;
  }
  .item__icon{
    cursor: pointer;
    transition: 0.3s;
    width: 22px;
    height: 22px;
    fill: red;
    &:hover{
        color: rgb(128, 0, 0);
    }
}