<h2 class="main__head">Холодильник: ваши продукты</h2>
<div class="main__stock">
    @if(popupSignal()) {
    <food-form></food-form>
    }
    @for(product of products$ | async; track product.id){
    <stock (click)="handleClick(product.name)" [product]="product"></stock>
    }
    <div (click)="togglePopup()" class="stock-add">
        <div class="stock-add__pluse"
            style="--size: 90px;  --radius: 1; --scale: 0.8; --backgroundColor: black; --colorLine: white; --hoverColorLine: black; --hoverBackgroundColor: rgb(0, 255, 187); --heightLine: 8px">
        </div>
    </div>
</div>
<h2 class="pb10 pt20 main__head">Выбранные продукты</h2>
<addingProducts [name]="name"> </addingProducts>
<button (click)="showRecipes()" class="pt20 main__show-button button">Показать рецепты из выбранных продуктов</button>
<div class="pt20 main__recipes">
    @for(recipe of recipies$ | async; track recipe.image){

    <app-recipe [recipe]="recipe"></app-recipe>
    }

</div>