@import './variables.scss';

 *{
   border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }  
body{
   font-size: $text-font;
   font-family: "Yanone Kaffeesatz", sans-serif;
        background: $first-color;
        color: $text-color;
    }
    .button{
      cursor: pointer;
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: medium;
      border-radius: 15px;
      color: $text-color;
      padding: 20px 10px;
      background: $second-color;
      transition: 0.3s;
      &:hover{
        background: $hover-color;
      }
    }
    .link{
      transition: 0.3s;
      text-decoration: none;
      list-style: none;
      color: $first-color;
    }
    .link:hover{
      color: $second-color;
    }
    
    .pt20{
      padding-top: 20px;
    }
    .pb10{
      padding-bottom: 10px;
    }
    .pb20{
      padding-bottom: 20px;
    }
    .disable{
      cursor: default;
      filter: brightness(40%);
      &:hover{
        background: $second-color;
      }
    }
